* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background: #353744;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > img {
    margin-left: 2em;
}

.u-wrapper {
    display: flex;
}

nav {
    width: 20vw;
    background-color: #61d290;
    height: calc(100vh - 150px);
    float:left;
    box-sizing: border-box;
    letter-spacing: normal;
}

main {
    background: #f6f6f6;
    height: calc(100vh - 150px);
    width: 80vw;
    overflow-y: auto;
    float: left;
    box-sizing: border-box;
    letter-spacing: normal;
}

main > h1 {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-top: 25px;    
}

main > h1 > button {
    float: right;
    margin-right: 15px;
}

main > h1 > button:first-child {
    float: right;
    margin-right: 35px;
}

.Chat {
    list-style-type: none;
    height: calc(100vh - 350px);
    overflow-y: scroll;
}

.Chat li {
    margin-bottom: 25px;
}

.Chat li img {
    float: left;
    border-radius: 50%;
}

.Chat li p {
    float: left;
    position: relative;
    max-width: 70%;
    min-width: 40%;
    margin: 0 0 0 20px;
    font-size: 0.9em;
    padding: 10px;
    background-color: #fff;
    color: gray;
    border:1px solid #e5e5e5;
    border-radius:5px;
    line-height: 150%;
}

.Chat li p.u-can-see-delete:hover > button.delete-msg {
    display: block;
}

.Chat li p:hover {
    background-color: #ebedec;
}

.Chat li p cite {
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.Chat li p time {
    margin-left: 10px;
    font-size: 0.85em;
}

.u-icon {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
}

textarea.text-msg {
    width: calc(100% - 200px);
    border: 0;
    border-top: 1px solid lightgray;
    resize: none;
    float: left;
    height: 105px;
    padding: 25px;
    box-sizing: border-box;
    outline: none;
}

button.delete-msg {
    position: absolute;
    top: 10px;
    right: 5px;
    background: transparent;
    border: 0;
    font-weight: 700;
    display:none;
    cursor: pointer;
}

button.TextMsgSendButton {
    background: #fff;
    border: 0;
    border-top: 1px solid lightgray;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 105px;
    outline: none;
}

button.TextMsgSendButton > img {
    width: 100%;
    max-width: 109px;
}

.u-clearfix {
    clear: both;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 19px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.Backdrop {
    position: fixed;
    display: none;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    z-index:999;
}

.Backdrop > .Modal {
    width: 70vw;
    margin: 5vh auto;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius:5px;
    padding: 25px 25px 40px 25px;
}

.backdrop > .Modal .ModalContent {
    color: gray;
}

input.u-styled {
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.u-float-right {
    float: right;
}

.SaveButton {
    padding: 0.35rem;
    margin-left: 10px;
    background: #4ea96d;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}
.StayAnonButton {
    padding: 0.35rem;
    margin-left: 10px;
    background: #c5c5c5;
    border-radius: 0;
    border: 0;
    color: #000;
    cursor: pointer;
}

@media (max-width: 638px) {
    nav {
        display: none;
    }
    main {
        width: 100vw;
    }
}